@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --main_color1: #00e9ad;
  --main_color2: #fc427b;
  --main_color3: #2c3a47;
  --main_color4: #ffff;
  --main_color5: #000000;
  --custom_color1: #ebebeb;
}
body::-webkit-scrollbar {
  width: 0.2em;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main_color1);
  /* outline: 1px solid slategrey; */
}

/* webCss */
body {
  background-color: var(--custom_color1);
}
.logo_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 100px;
}

/* banner */
.banner_container {
  height: 200px;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  color: white;
  overflow: hidden;
  background: #c04848;
  background: linear-gradient(rgb(100, 100, 100, 0.5), rgba(0, 0, 0, 0.9)),
    url("/asset/banner/banner1.jpg");
  background: linear-gradient(rgb(100, 100, 100, 0.5), rgba(0, 0, 0, 0.9)),
    url("/asset/banner/banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_text2 {
  color: var(--main_color2);
}

/* menu */
.menu_container {
  padding: 2rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu_heading {
  width: 100%;
  text-align: center;
}
.menu_heading h1 span {
  color: var(--main_color2);
}

.menu_group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.group_text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.custom_icon {
  font-size: 1.8rem;
  padding: 0.5rem;
  color: var(--main_color1);
  transition: all 0.5s ease;
}
.group_text:hover .custom_icon {
  color: var(--main_color2);
}
.group_p {
  color: var(--main_color3);
  transition: all 0.5s ease;
}
.group_text:hover .group_p {
  color: var(--main_color2);
}

.item_container {
  display: flex;
  align-items: center;
  margin-left: -10px;
  padding: 0.8rem 0rem;
  justify-content: center;
  cursor: pointer;
}
.item_image img {
  height: 80px;
}
.item_text {
  padding: 0px 12px;
}
.item_text .title {
  font-size: 1.2rem;
  color: var(--main_color5);
}
.item_text .description {
  font-size: 0.8rem;
  color: var(--main_color3);
}

.item_order .order {
  color: var(--main_color2);
  text-decoration: none;
}
.item_order .price {
  color: var(--main_color3);
  text-decoration: none;
}

/* cart */
.cart_container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  background-color: var(--main_color2);
}
.cart_container .items_price .item p {
  color: var(--main_color4);
  font-size: 0.8rem;
}
.cart_container .items_price .price p {
  color: var(--main_color4);
  font-size: 1rem;
}
.cart_container .items_price .price span {
  font-size: 0.8rem;
}

.cart_container .view_cart a {
  text-decoration: none;
  color: var(--main_color4);
}

/* mobile css */
@media only screen and (max-width: 500px) {
  /* body::-webkit-scrollbar {
    width: 0.2em;
    height: 100vh;
  } */
  body::-webkit-scrollbar-thumb {
    background-color: var(--main_color1);
    /* outline: 1px solid slategrey; */
  }

  body {
    background-color: var(--main_color4);
     height: 100vh;
  }

  /* logo */
  .logo_container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    height: 100px;
  }

  .banner_container {
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #c04848;
    background: linear-gradient(rgb(100, 100, 100, 0.5), rgba(0, 0, 0, 0.9)),
      url("/asset/banner/banner1.jpg");
    background: linear-gradient(rgb(100, 100, 100, 0.5), rgba(0, 0, 0, 0.9)),
      url("/asset/banner/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner_text2 {
    color: var(--main_color2);
  }

  /* menu */
  .menu_container {
    padding: 2rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu_heading {
    width: 100%;
    text-align: center;
  }
  .menu_heading h1 span {
    color: var(--main_color2);
  }
  .menu_container .main_menu{
    margin-bottom: 4rem;
    padding: 0rem .2rem 0rem 1rem;
  }
  .menu_group {
    padding: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .group_text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .custom_icon {
    font-size: 1.rem;
    padding: 0.5rem;
    color: var(--main_color1);
    transition: all 0.5s ease;
  }
  .group_text:hover .custom_icon {
    color: var(--main_color2);
  }
  .group_p {
    color: var(--main_color3);
    transition: all 0.5s ease;
  }
  .group_text:hover .group_p {
    color: var(--main_color2);
  }

  .item_container {
    display: flex;
    align-items: center;
    margin-left: -10px;
    padding: 0.8rem 0rem;
    justify-content: center;
    cursor: pointer;
    /* border: .2px solid var(--main_color3); */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  }
  .item_container:hover img {
    transform: rotate(10deg);
  }
  .item_image img {
    height: 80px;
    transition: all 0.7s ease;
  }
  .item_text {
    padding: 0px 12px;
  }
  .item_text .title {
    font-size: 1rem;
    color: var(--main_color5);
  }
  .item_text .description {
    font-size: 0.7rem;
    color: var(--main_color3);
  }

  .item_order .order {
    color: var(--main_color2);
    text-decoration: none;
  }
  .item_order i {
    font-size: 0.8rem;
  }
  .item_order .price {
    color: var(--main_color3);
    text-decoration: none;
  }

  /* cart */
  .cart_container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    background-color: var(--main_color2);
  }
  .cart_container .items_price .item p {
    color: var(--main_color4);
    font-size: 0.8rem;
  }
  .cart_container .items_price .price p {
    color: var(--main_color4);
    font-size: 1rem;
  }
  .cart_container .items_price .price span {
    font-size: 0.8rem;
  }

  .cart_container .view_cart a {
    text-decoration: none;
    color: var(--main_color4);
  }

  /* CArt Page */
  .banner_container_cart {
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #c04848;
    background: linear-gradient(rgb(100, 100, 100, 0.5), rgba(0, 0, 0, 0.9)),
      url("/asset/banner/banner2.jpg");
    background: linear-gradient(rgb(100, 100, 100, 0.5), rgba(0, 0, 0, 0.9)),
      url("/asset/banner/banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cupon_container {
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:start;
    padding: 0rem 1.5rem;
    margin-top: 1rem;
  }
  .cupon_container .heading{
    padding-bottom: .5rem;
  }
  .cupon_container .cupon_filed{
    padding-bottom: .5rem;
  }
  .cupon_container .cupon_filed input{
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
  }
  .cupon_container button{
    position: absolute;
    right: 1.5rem;
    color: var(--main_color4);
    background-color: var(--main_color2);
    border: none;
    border-radius: 5px;
    padding: .5rem;
  }
}
