@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --main_color1: #00e9ad;
  --main_color2: #fc427b;
  --main_color3: #2c3a47;
  --main_color4: #ffff;
  --main_color5: #000000;
  --custom_color1: #ebebeb;
}
body {
  color: var(--main_color3);
  background-color: #ebebeb;
}
body::-webkit-scrollbar {
  width: 0.2em;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main_color1);
  /* outline: 1px solid slategrey; */
}

/* topbar */
.topnavbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: var(--main_color4);
}
.topnavbar .logo {
  padding-left: 1rem;
}
.topnavbar img {
  height: 80px;
}
.topnavbar .hamburger {
  display: none;
  position: absolute;
  left: 13rem;
}
.topnavbar .hamburger i {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.topnavbar .hamburger i:hover {
  color: var(--main_color1);
}

.topnavbar .close_btn i {
  font-size: 20px;
  cursor: pointer;
  color: var(--main_color3);
  display: block;
  transition: 0.3s ease-in-out;
}

.topnavbar .close_btn i:hover {
  color: var(--main_color2);
}

.topnavbar .close_btn .closebtn {
  position: absolute;
  left: 13rem;
  top: 2rem;
}

.topnavbar input {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  padding: 0.5rem;
  text-align: center;
  border: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 8px;
}

/* bodycontainer */
.bodycontainer {
  padding-top: 5rem;
}

/* sidenav */

#mySidenav {
  width: 250px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main_color4);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5rem;
}

.sidenav a {
  padding: 18px 8px 8px 57px;
  text-decoration: none;
  font-size: 20px;
  color: var(--main_color3);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--main_color2);
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  min-height: calc(100vh - 5rem);
}
.new-wrapper {
  margin-left: 250px;
  background-color: #ebebeb;
}
.new-wrapper .wrapper_box {
  display: flex;
  justify-content: space-between;
}
.new-wrapper .wrapper_box .order_box {
  height: 400px;
  text-align: center;
  width: 600px;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--main_color4);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 0.5rem;
}
.new-wrapper .wrapper_box .order_box .order_head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.new-wrapper .wrapper_box .order_box .order_head input {
  
  padding: 0.5rem;
  text-align: center;
  border: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.082) 0px 3px 8px;
}
.new-wrapper .wrapper_box .order_box .orders::-webkit-scrollbar {
  width: 0.2em;
}
.new-wrapper .wrapper_box .order_box .orders {
  height: 330px;
  text-align: center;
  padding: 1rem 0rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.new-wrapper .wrapper_box .right_box {
  height: 400px;
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 1rem;
}
.waiter_available {
  text-align: center;
  background-color: var(--main_color4);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 220px;
}
.waiter_available .waiters::-webkit-scrollbar {
  width: 0.2em;
}
.waiter_available .waiters {
  text-align: center;
  height: 330px;
  padding: 1rem 0rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.resto_table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restro_status {
  background-color: var(--main_color4);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 100px;
  text-align: center;
}
.table_left {
  text-align: center;
  background-color: var(--main_color4);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 240px;
}
.table_left .tables::-webkit-scrollbar {
  width: 0.2em;
}
.table_left .tables {
  text-align: center;
  height: 180px;
  padding: 1rem 0rem;
  overflow-x: hidden;
  overflow-y: auto;
}
