@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --main_color1: #00e9ad;
  --main_color2: #fc427b;
  --main_color3: #2c3a47;
  --main_color4: #ffff;
  --main_color5: #000000;
  --custom_color1: #ebebeb;
}
body {
  color: var(--main_color3);
  background-color: #ffdde7;
}
body::-webkit-scrollbar {
  width: 0.2em;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main_color1);
  /* outline: 1px solid slategrey; */
}

/* topbar */
.topnavbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: var(--custom_color1);
}
.topnavbar .logo {
 padding-left: 1rem;
}
.topnavbar img {
  height: 80px;
}
.topnavbar .hamburger {
  position: absolute;
  left: 13rem;
}
.topnavbar .hamburger i{
  cursor: pointer;
  
}
.topnavbar .hamburger i:hover{
    color: var(--main_color1);
}
.topnavbar input {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  padding: 0.5rem;
  text-align: center;
  border: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 8px;
}

/* bodycontainer */
.bodycontainer {
  padding: 5rem 0rem;
}

/* sidebar */
.sidenavbar {
  display: block;
  background-color: var(--custom_color1);
  width: 200px;
  min-height: calc(100vh - 5rem);
}
.sidenavbar h2 {
  color: var(--main_color2);
}
.sidenavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  width: calc(200px - 1rem);
}

.sidenavbar li a {
  position: relative;
  display: block;
  color: var(--main_color3);
  padding: 1.3rem 1rem;
  text-decoration: none;
}
.sidenavbar li a i {
  position: absolute;
  right: 2rem;
}

.sidenavbar li a:hover {
  color: var(--main_color2);
}
